<ion-view view-title="Home">
  <ion-content>
    <ion-pane class="background home" style="background-image: url('./img/mainBackground.jpg');">
      <div class="row row-center responsive-sm">
        <div class="col col-center text-center">
          <h1 class="home-font">Trail Companion</h1>
          <!-- <div id="container" class="animated fadeIn">
            <button class="button button-outline button-block button-light animated fadeIn home-font" ui-sref="app.gallery">
        Enter
      </button>
          </div> -->
        </div>
        <div class="col col-center text-center home-font">
          <h3 class="home-font">Current Weather</h3>
          <div>
              {{weatherTemp | number: 0}}°
          </div>
          <div>
    {{weatherDesc}}
</div>
<div>
    <span>high: {{forecastTempHigh | number: 0}}°</span><br>
    <span>low: {{forecastTempLow | number: 0}}°</span><br>
    <span>windspeed: {{weatherSpeed}}mph</span><br>
    <span>humidity: {{weatherHum}}%</span><br>
</div>
        </div>
        <div class="col col-center text-center home-font">
          <h3 class="home-font">Forecast</h3>
        </div>
      </div>
      <!-- <div class="col col-center text-center home-font">
        <div class="">
          Current Weather
        </div>
        <div class="">
          Forecast
        </div>
      </div> -->
    </ion-pane>
  </ion-content>
</ion-view>
