<ion-view view-title='Mentors1' hide-nav-bar="true">
  <ion-content scroll="true">
    <ion-pane style="background-image: url('./img/mainBackground.jpg')" class="padding background">
      <div class='padding home-font'>
        <br><br><br><br>
      <img src='/img/betrayal.gif' class='col col-center'>
      </div>
      <div>
      <h3 class='home-font help-background' style="text-align:center">"Curse your sudden, but inevitable betrayal!"</h3>
        </div>
        <button class="button button-block button-dark home-font icon-left ion-chevron-left" ui-sref="mentors">Back</button>
      </div>
    </ion-pane>
  </ion-content>
</ion-view>
