<ion-view view-title='Mentors' hide-nav-bar="true">
  <ion-content scroll="true">
    <ion-pane style="background-image: url('./img/mainBackground.jpg')" class="padding background">
      <div class='home-font' style="text-align:center">
        <div class='background help-background'>
          <h2 class='home-font'><span class='icon ion-happy-outline'></span>  Other "Tools"  <span class='icon ion-happy-outline'></span></h3>
        </div>
        <ul>
          <h4 class="home-font padding help-background">
            <a ui-sref='mentors1'><u class="home-font">Current Mentors</u></a>
          </h4>
          <h4 class="home-font">Austin H.</h4>
          <h4 class="home-font">Jon M.</h4>
          <h4 class="home-font">Brian H.</h4>
        </ul>
        <ul>
          <h4 class="home-font padding help-background">
            <a ui-sref='mentors2'><u class="home-font">Former Mentors</u></a>
          </h4>
          <h4 class="home-font">Isaac L.</h4>
          <h4 class="home-font">Steve I.</h4>
        </ul>
        <br><br><br>
        <button class="button button-block button-dark home-font icon-left ion-chevron-left" ui-sref="aboutapp">Back to App</button>
      </div>
    </ion-pane>
  </ion-content>
</ion-view>
