<ion-view view-title='Sterling Chin' hide-nav-bar="true">
  <ion-content scroll="true">
    <ion-pane style="background-image: url('./img/mainBackground.jpg')" class="padding background">
      <div>
        <h4 class="home-font padding help-background">About the Developer</h4>
        <!--<img src='img/SterlingChin.jpg' class="col col-center" id="dev-photo">-->
        <p class="home-font padding help-background">
          Sterling is a full stack web developer currently located in beautiful Utah.  He is a recent graduate of DevMountain.  This app was build in the Ionic Framework, a language/framework unknown to him before undertaking this project.  When not behind a computer, he's typically hiking or climbing.  <br><br>
          Sterling can be reached by visiting his website: <span>SterlingChin.com</span><br>
          or by phone: <br>
          <a href='tel:801-921-1359'>801.921.1359</a>
        </p>
        <button class="button button-block button-dark home-font icon-left ion-chevron-left" ui-sref="aboutapp">Back to App</button>
        <button class="button button-block button-dark home-font icon-left ion-chevron-left" ui-sref="tab.info">Back to Info</button>
      </div>
    </ion-pane>
  </ion-content>
</ion-view>
